@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
   margin: 0;
   padding: 0%;
   font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 5rem;
    font-weight: 900;
}
h2{
    font-size: 2.2rem;
}
main{
    margin: 150px 0;
}
header{
    width: 100%;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between; 
 
}
.headerText{
    margin: 219px 0px 0px 65px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
  
}
 p{
    margin: 20px 0;
    font-size: 18px;
    color: #27272799;
}
header img{
    width: 635px;
    height: 700px;
    
}
 #btn1{
    width: 112px;
    background-color:#E55473 ;
    color: #ffff;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
}
.featured_text{
    text-align: center;
}

/*Featured section */
#featured_flowers{
    margin: 40px 0;
}
.featured-img{
    display: flex;
    justify-content: center;
    margin:0 0 100px 0 ;
  
}

.flower1{
    height: 440px;
   
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    text-align: center;
    padding:  0 0 25px 0;
}
.flower1 img{
    height: 440px;
   
}




.featured-img img{
    display: block;
    padding: 28px;
    width: 310px;
    height: 428px;
    margin: 0 auto;
  
}

.flower2{
    height: 440px;
   
    border-radius: 300px 300px 0px 0px;
    background: #0597A026;
    margin: 0 15px;
    padding: 15px;
    text-align: center;
}
.flower3{
    height: 440px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 15px;
    text-align: center;

}
.services{
    width: 1189px;
    height: 220px;
    margin: 0 auto ;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: center;
}
.service{
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

/* deal section*/
.deals{
   background-color:  rgba(229, 84, 115, 0.05);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
 
   

}
.deal_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
   
}
#deal_sec{
    padding: 0px;
}
.deals img{
width: 15%;

padding: 58px;
}
#btn2{
    width: 112px;
    background-color:#E55473 ;
    color: #ffff;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    margin: 0 auto;

}
.insta_text{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px 0 0 0 ;
}
.deal_images{
    text-align: center;
}
.deal_images img{
    margin: 3px;
   
}

.search{
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 50px 0;
    margin: 50px 0;
 
    
}
.search h3{

}
.innerDiv{
    margin:  20px 0 0 0;
   padding: 20px;
   flex-direction: column;
    
}
.innerDiv>input{
    padding: 5px 8px;
}

footer{
    background: #111010;
    color: #ffff;
    display: flex;
    flex-direction: column;
    padding: 50px;

}
footer p {
    color: #ffff;
}
.innerfooter{
    margin:  50px 0 0 0 !important;
    margin: 0 auto;
    text-align: center;
}
span{
    color: gray;
}
#spanFlower{
    color: #E55473;
}
#black{
counter-reset: black;
}
 